body {
    background: rgb(86,6,190);
    background: radial-gradient(circle, rgba(86,6,190,1) 0%, rgba(76,21,194,1) 50%, rgba(114,37,245,0.9556197478991597) 100%);
    margin: 0 auto;
    animation: e1 6s infinite;

}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header > .imag {
    width: 100%;
    margin: 5px;
    justify-content: space-around;
    display: flex;
}

header > .imag > img{
    width: 30vh;
    border-radius: 1000px;
    border: 3px solid  #2d0c92;
    box-shadow: 0px 0px 10px 0px rgb(45, 2, 70);
}


header > .name, .subname, .phrase, .phrase2{
    width: 85%;
    display: flex;
    justify-content: space-around;
}

header > .name > #hh1, #hh3{
    color: #f4a500;
    font-variant: small-caps;
    text-shadow: 0px 0px 5px #1D036B;
    padding: 5px;
    border-left: 5px solid #2d0c92;
    cursor: default;
}

header > .name > #hh1{
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

header > .subname > #hhh2{
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #f4a500;
    font-variant: small-caps;
    text-shadow: 0px 0px 5px #1D036B;
    cursor: default;
}

header > .phrase > #hh2{
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

header > .phrase2 > #hh3{
    background: radial-gradient(circle, rgb(76,21,194,1) 50%, rgba(76,21,194,1) 50%, rgba(76,21,194,1) 50%);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-shadow: 0px 0px 5px #1D036B;  
    width: 85%;
    padding: 15px;
    font-weight: 100;
    text-align: justify;
    border-left: 10px solid #2d0c92;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}

main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: radial-gradient(circle, rgba(255,245,199,1) 0%, rgba(255,240,176,1) 50%, rgba(255,245,199,1) 100%);
    border-radius: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

main > .tecc{
    width: 100%;
    background: radial-gradient(circle, rgb(86 6 190) 0%, rgb(86 6 190) 50%, rgb(86 6 190 / 95%) 100%);
    margin: 5px;
    border-radius: 1px;
    padding: 4px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    color: #f4a500;
    font-variant: small-caps;
    text-shadow: 0px 0px 5px #1D036B;
    box-shadow: 1px 2px 4px 1px rgb(45, 2, 70);
    border: 2px solid rgb(76 21 194);
    cursor: default;
}

main > .tec{
    width: 30%;
    background: radial-gradient(circle, rgba(255,218,54,1) 0%, rgba(248,186,53,1) 50%, rgba(255,218,54,1) 100%);
    margin: 15px;
    border-radius: 1px;
    padding: 5px;
    text-align: center;
    justify-content: space-around;
    box-shadow: 1px 2px 6px 1px rgb(45, 2, 70);
    border: 1px solid #01446B;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}

main > .tec > img, input{
    filter: drop-shadow(1px 2px 3px #585858);

}

.vertical{
    width: 80%;
}

@keyframes e1 {
    from  {background: radial-gradient(circle, rgba(86,6,190,1) 0%, rgba(76,21,194,1) 50%, rgba(114,37,245,0.9556197478991597) 100%);}
    to {background: radial-gradient(circle, rgba(86,6,190,0.9500175070028011) 0%, rgba(76,21,194,0.9360119047619048) 50%, rgba(114,37,245,0.9108018207282913) 100%);}
    from {background: radial-gradient(circle, rgba(86,6,190,0.9500175070028011) 0%, rgba(76,21,194,0.9360119047619048) 50%, rgba(114,37,245,0.9108018207282913) 100%);}
    to  {background: radial-gradient(circle, rgba(86,6,190,1) 0%, rgba(76,21,194,1) 50%, rgba(114,37,245,0.9556197478991597) 100%);}
  }



  /* FOOTER */

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(circle, rgba(98,0,255,0.9472163865546218) 0%, rgba(114,54,255,1) 50%, rgba(98,0,255,1) 100%);
    margin-top: 11px;
    border-top: 4px ​solid rgb(86 6 190 / 75%);
  }

  footer > .ffh2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

  footer > .ffh2 > #fh2{
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    font-variant: small-caps;
    color: #f4a500;
    text-shadow: 0px 0px 5px #1D036B;
    padding: 5px;
    border-bottom: 15px solid #2d0c92;
    cursor: default;
}

  footer > .smbg{
    background: radial-gradient(circle, rgba(98,0,255,0.9472163865546218) 0%, rgba(114,54,255,1) 50%, rgba(98,0,255,1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

  footer > .smbg > .sm{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;  
}

  footer > .smbg> .sm > .fotm{
    margin: 2px;
    padding: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #5c92b29d;
    transition: 0.3s;
}

footer > .smbg> .sm > .fotm:hover{
    background-color: #9acdebe1;

}

  footer > .smbg> .sm > .face{
    border-left: 7px solid #3b579d;
    border-radius: 0px 3px 3px 0px;
}

footer > .smbg> .sm > .tele{
    border-left: 7px solid #0088cc;
    border-radius: 0px 3px 3px 0px;
}

footer > .smbg> .sm > .linkedin{
    border-left: 7px solid #0078b5;
    border-radius: 0px 3px 3px 0px;
}

footer > .smbg> .sm > .insta{
    border-left: 7px solid #f6370b;
    border-radius: 0px 3px 3px 0px;
}

footer > .smbg> .sm > .whats{
    border-left: 7px solid #25d366;
    border-radius: 0px 3px 3px 0px;
}

footer > .smbg> .sm > .twit{
    border-left: 7px solid #1da1f2;
    border-radius: 0px 3px 3px 0px;
}

